.resume-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    min-width: 100rem;
    margin: 4rem auto;
    background-color: white;
    opacity: .4;
}
.name-container {
    display: flex;
    height: 4rem;
}
.name-text {
    display: flex;
    margin: auto;
    font-size: 3rem;
}
.info-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.sub-info-container {
    display: flex;
    min-width: 30rem;
    flex-flow: row nowrap;
    font-size: 1.5rem;
    height: 2rem;
}
.sub-info-title {
    display: flex;
    margin-right: 0;
    font-weight: bold;
}
.sub-info-text {
    display: flex;
    margin-left: 0;
}

.category-title-container {
    display: flex;
    min-width: 90rem;
    flex-flow: column nowrap;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}
.category-title-text {
    margin-left: 2rem;
}
.hr-end-category {
    height: .2rem;
    display: flex;
    background-color: cornflowerblue;
}