@font-face {
    font-family: angryBirds;
    src: url(../font/angrybirds-regular.ttf);
}

html {
    margin: 0;
    background-image: url(../img/backgroundBeijing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
}

body {
    margin: 0;
}

.header-container {
    font-family: angryBirds;
    margin: 1rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 4em;
}

.nav-item {
    display: flex;
    height: inherit;
}

.menu-item {
    text-decoration: none;
    color: lightslategray;
    font-size: 4rem;
}

.menu-item:hover {
    text-decoration: none;
    color: aqua;
}
.active {
    text-decoration: none;
    color: aqua;
}

.hr {
    height: .5rem;
    display: flex;
    background-color: cornflowerblue;
}
